.header {
  display: flex;
  border: 1px solid black;
  padding: 0px 15px;
  justify-content: space-between;
  align-content: center;
}

.logo {
  width: 110px;
}

.nav-items {
  align-content: center;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  list-style: none;
}

.search {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.res-container {
  border: 1px solid black;
  margin-top: 30px;
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .res-card {
    &:hover {
      border: 1px solid lightgray;
      border-radius: 20px;
    }

    padding: 10px;
    width: 30%;
    border: 1px solid white;

    .res-img {
      width: 100%;
      object-fit: cover;
      height: 250px;
      border-radius: 10px;
    }
  }
}
